/*!
 * Makeandset v1.0 (http://Makeandset.com)
 * Copyright 2016 Makeandset.COM
 * Author - Santanu Samanta
 * Follow me on facebook - https://facebook.com/sweetshaan
 */
/*! makeandset.css | makeandset.com */

/* overflow*/
html {
	overflow-x: hidden;
}
/* Hero Background One */
.hero-background-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.45)), url(../img/man-in-hammock.jpg) no-repeat center center;
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 205px;
}
.brand-text {
  padding: 205px 20px 5px 20px;
  margin-bottom: 5px;
  font-size: 7em;
  letter-spacing: 0px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.makeandset-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.65em;
  color: #fff;
  font-weight: 100;
  padding-bottom: 20px;
}
nav {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a {
  outline: none;
  color: #555;
}
.add-padin {
  padding-top: 60px;
  padding-bottom: 60px;
}
.activities-text {
  padding: 35px 5px 5px 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
}
/* Hero Background */
.befit-text {
  padding: 225px 20px 5px 20px;
  margin-bottom: 5px;
  font-size: 6em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.exclusive {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.exclusive:hover,
.exclusive:focus {
  color: #fff;
}
.add-padin-2 {
  padding-top: 70px;
  padding-bottom: 15px;
}
.video-text {
  padding: 40px 5px 45px 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.15em;
}
.btn-position {
  margin-top: 15px;
  margin-bottom: 50px;
}
/* makenset special button */
.makenset-btn {
  display: inline-block;
  padding: 16px 20px;
  font-size: 1.25em;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 2px solid transparent;
}
.makenset-btn-default {
  color: #555;
  background-color: transparent;
  border-color: #777;
  border-radius: 4px;
}
a.makenset-btn-default:hover,
a.makenset-btn-default:focus,
a.makenset-btn-default:active {
  text-decoration: none;
  outline: none;
  color: #000;
  border-color: #555;
}
.hero-background-3 {
  background: linear-gradient(-92deg, #43cea2, #185a9d);
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 150px;
}
hr.style-1 { 
  border-top: 5px solid #fff;
  width: 45px;
}
hr.style-2 { 
  border-top: 5px solid #333;
  width: 45px;
}
.social-icon-set {
  padding-top: 5px;
  padding-bottom: 75px;
}
.point-text {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 10px 5px 10px;
}
.icon-text {
  padding-top: 5px;
  padding-bottom: 25px;
  color: #555;
  font-size: 1.15em;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.activities-text-2 {
  padding: 35px 5px 5px 5px;
  text-transform: uppercase;
  font-size: 1.25em;
}
.hero-background-4 {
  background: linear-gradient(-135deg, #ff0084, #33001b);
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 205px;
}
.hero-background-expert {
  background: linear-gradient(-135deg, #00bf8f, #001510);
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 205px;
}
.expert-text {
  padding: 30px 10px 30px 10px;
  font-size: 1.75em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
/* Santanu style Footer  */
.hero-background-5 {
  background-color: #3a3747;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
}
.hero-background-6 {
  background-color: #2e2b3a;
  width: 100%;
  height: auto;
  padding-top: 20px;
  margin-bottom: 0px;
}
.footer-text-1 {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
  padding: 50px 10px 5px 10px;
  color: #fff;
}
.footer-text-2 {
  padding: 5px 10px 10px 10px;
  color: #fff;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}
.brand-footer {
  padding: 30px 10px 5px 10px;
  font-size: 4.5em;
  line-height: 0.95;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.form-paddin {
  padding: 30px 10px 10px 10px;
}
.footer-links-padin {
  padding: 10px;
}
.footer-links {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 1px 8px 5px 8px;
}
.footer-links:hover,
.footer-links:focus {
  color: #fff;
  outline: none;
}
.copyright {
  text-transform: uppercase;
  font-size: 0.85em;
  color: #fff;
  padding: 10px;
  letter-spacing: 0.5px;
}
/*
  ///////////////////////////////////////////
  
  Thanks visit https://makeandset.com, 
  Like & Share. Created by Santanu Samanta.

  ////////////////////////////////////////// 
*/
.add-padin-for-shop {
  padding-top: 80px;
  padding-bottom: 25px;
}
.shop-box {
  display: inline-block;
  border: 2px solid #bbb;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 25px;
}
.shop-box:hover,
.shop-box:focus {
  border: 1px solid #333;
}
.sbox-text {
  padding: 25px 15px 5px 15px;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1em;
  color: #555;
  text-transform: none; 
}
.sbox-description {
  padding: 1px 15px 5px 15px;
  color: #222;
  font-size: 1.15em;
  line-height: 1.45em; 
  font-family: 'Maven Pro', sans-serif;
}
.price {
  padding: 5px 15px;
  font-size: 1.85em;
  color: #333;
  font-family: 'Maven Pro', sans-serif;
}
/*
  ///////////////////////////////////////////
  
  Thanks visit https://makeandset.com, 
  Like & Share. Created by Santanu Samanta.

  ////////////////////////////////////////// 
*/






.fc-szpr {
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 110px;
  padding-top: 110px;
}
.fil-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  color: #fff;
}
.fil-color-1 {
  background: linear-gradient(-135deg, #000000, #434343);
}
.fil-color-2 {
  background: linear-gradient(-135deg, #42275a, #734b6d);
}
.fil-color-3 {
  background: linear-gradient(-135deg, #000428, #004e92);
}
.fil-color-4 {
  background: linear-gradient(-135deg, #2C3E50, #4CA1AF);
}
.fil-color-5 {
  background: linear-gradient(-135deg, #ff4b1f, #ff9068);
}
.fil-color-6 {
  background: linear-gradient(-135deg, #141E30, #243B55);
}
.background-foo {
  background-color: #00113b;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 55px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  margin-bottom: 0px;
}
.foo-txt {
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: 'Maven Pro', serif;
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}
.foo-text-2 {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}
.background-nletr {
  background-color: #001b5b;
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  margin-bottom: 0px;
}
.form-koko-style {
border: 1px solid transparent; 
border-radius: 0px; 
font-family:'Montserrat', sans-serif; 
text-transform: uppercase; 
letter-spacing: 2px;
}
/* Outline none */
.set-none-outline {
  text-decoration: none;
  outline: none;
}
.subscribe-btn {
  color: #483D8B;
  background-color: #ffffff;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  color: #483D8B;
}
.nws-txt {
  padding: 25px 5px 20px 5px;
  font-family: 'Maven Pro', serif;
  color: #fff;
  font-size: 1.45em;
  font-weight: 700;
}
.background-artist {
  background-color: #000b26;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  margin-bottom: 0px;
}
.art-txt {
  padding: 15px 5px 10px 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
}
a.custom {
  color: inherit;
  text-decoration: none;
}
a.custom:hover,
a.custom:focus {
  text-decoration: none;
  outline: none;
}
.footer-text {
  color: #ffffff;
  padding: 20px 15px 10px 15px;
  font-family: "Maven Pro", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.privacy-page-background {
  background: #f6f6f6;
  padding: 30px;
}
.privacy-text-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
}
